# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
.env/
ENV/
env/

# Variáveis de ambiente
.env
.env.local

# Distribuição / build
build/
dist/
*.egg-info/

# Logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Testes / cobertura
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# SQLite
*.sqlite3

# Arquivos temporários
*.tmp
*.swp